@{
    Layout = null;
    string s = ViewBag.Path;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Certificate</title>
</head>
<body>
    <div>
        <img src="@s" />
    </div>
</body>
</html>
