@{
    ViewBag.Title = "Password recovery";
}

<h2>Password recovery</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Enter username</legend>
        <div class="form-group">
            @Html.Label("Username: ", new { @for = "UserName", @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("UserName", null, new { @class = "form-control" })
                <span style="color:red;">@TempData["Message"]</span>
            </div>
        </div>
        <br />
        <div class="form-group" style="padding-top: 10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

