
h1, #panel {
    text-align: center;
}

html, body {
    height: 100%;
}

#inputSizeHeigth {
    width: 50px;
}
#preview{
       position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow-x:auto;
}
#inputSizeWidth {
    width: 50px;
}

#settingsForm {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

#frameId,#textAreaJs {
    border-width:1px;
    margin-top: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.body-content{
    height:100%;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}